[submodule ".mise/conf.d/devtools-pi/agent/extensions/powerline-footer"]
	path = .mise/conf.d/devtools-pi/agent/extensions/powerline-footer
	url = https://github.com/nicobailon/pi-powerline-footer
[submodule ".mise/conf.d/shells-xresources/.XresourceThemes"]
	path = .mise/conf.d/shells-xresources/.XresourceThemes
	url = https://github.com/janoamaral/Xresources-themes.git
[submodule ".mise/conf.d/windowmanagers-awesome/radical"]
	path = .mise/conf.d/windowmanagers-awesome/radical
	url = https://github.com/Elv13/radical
[submodule ".mise/conf.d/windowmanagers-awesome/widgets"]
	path = .mise/conf.d/windowmanagers-awesome/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
