.env
!.zsh*
!/shells/zsh/files/config.d/enabled/README.md
/shells/zsh/files/config.d/enabled/*
mise.toml
devtools/files/opencode/bin
in-memoria*
!.memory/
# In Memoria
in-memoria.db
.in-memoria/cache/
.in-memoria/.env
devtools/files/mcporter/credentials.json
devtools/files/opencode/plugin/subtask2/logs/debug.log
devtools/files/opencode/plugin/subtask2/logs/debug.log
devtools/files/opencode/AGENTS.md
devtools/files/opencode/agent
devtools/files/opencode/command
devtools/files/opencode/skills
devtools/files/opencode/AGENT.md
devtools/files/pi/agent/extensions/tools/node_modules
.ralph/
.ralph
.ralph
