[submodule "devtools/pi/agent/extensions/powerline-footer"]
	path = devtools/pi/agent/extensions/powerline-footer
	url = https://github.com/nicobailon/pi-powerline-footer
[submodule "shells/xresources/.XresourceThemes"]
	path = shells/xresources/.XresourceThemes
	url = https://github.com/janoamaral/Xresources-themes.git
[submodule "windowmanagers/awesome/radical"]
	path = windowmanagers/awesome/radical
	url = https://github.com/Elv13/radical
[submodule "windowmanagers/awesome/widgets"]
	path = windowmanagers/awesome/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
