
[submodule "windowmanagers/files/awesome/radical"]
	path = windowmanagers/files/awesome/radical
	url = https://github.com/Elv13/radical
[submodule "shells/files/xresources/.XresourceThemes"]
	path = shells/files/xresources/.XresourceThemes
	url = https://github.com/janoamaral/Xresources-themes.git
[submodule "windowmanagers/files/awesome/lain"]
	path = windowmanagers/files/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "windowmanagers/files/awesome/widgets"]
	path = windowmanagers/files/awesome/widgets
	url = https://github.com/streetturtle/awesome-wm-widgets.git
