{%- call Flex(direction="column", grow=1) -%}
  {%- call Flex(direction="column", grow=1) -%}
    {%- include "sessions_list.jinja" -%}
  {%- endcall -%}

  {%- call Flex(direction="column", grow=1, shrink=1, overflow="scroll") -%}
    {% include "agents-list.jinja" %}
  {%- endcall -%}

{%- endcall -%}
