{% import "./tree.jinja" as tree %}
{%- macro SessionLabel(index, total, session) %}
  {%- set session_label=session.name | bold -%}
  {{- tree.prefix_line(index, total) | dim }}
  {%- if session.current -%}
    {{ session_label }} {{ session.running_agents }}
  {%- else -%}
    {{ session_label | dim }} {{ session.running_agents | dim }}
  {%- endif -%}
{%- endmacro %}
{%- if sessions | length > 0 -%}
  {%- call Flex(shrink=0) -%}
  {{- " Sessions " | bold  -}}
  {%- endcall -%}
  {%- for session in sessions | sort(attribute="name") -%}
    {%- if session.current -%}
      {%- call Flex(shrink=0) -%}
        {{ SessionLabel(loop.index0, loop.length, session) }}
      {%- endcall -%}
    {%- else -%}
      {%- call Button(on_click=actions.switch_to_session(session.name), focused=false) -%}
        {{ SessionLabel(loop.index0, loop.length, session) }}
      {%- endcall -%}
    {%- endif -%}
  {%- endfor -%}
{%- endif -%}
