[Desktop Entry]
Name=Inspect Window Properties
Comment=View x11 properties of a window
Exec=sh -c "xprop | rofi -dmenu -p 'window'"
Terminal=false
Type=Application
Categories=System;