[Desktop Entry]
Name=Inspect Window Info
Comment=View x11 info of a window
Exec=sh -c "xwininfo | rofi -dmenu -p 'window'"
Terminal=false
Type=Application
Categories=System;