layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="Vertical" {
            pane size=32 borderless=true {
                plugin location="agent-threads" {
                    // template_file "~/.config/zellij/plugins/agent-threads/main.jinja"
                }
            }
            pane
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    new_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane split_direction="Vertical" {
            pane size=32 borderless=true {
                plugin location="agent-threads" {
                    // TODO: fix zellij-agent-threads or zellij-template-render so it 
                    // properly supports loading templates files.
                    // template_file "~/.config/zellij/plugins/agent-threads/main.jinja"
                }
            }
            pane
        }
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
} 
