themes {
    rose-pine {
        text_unselected {
            base "#E0DEF4"
            background "#191724"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        text_selected {
            base "#E0DEF4"
            background "#1F1D2E"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        ribbon_selected {
            base "#191724"
            background "#C4A7E7"
            emphasis_0 "#EB6F92"
            emphasis_1 "#F6C177"
            emphasis_2 "#EBBCBA"
            emphasis_3 "#524F67"
        }
        ribbon_unselected {
            base "#191724"
            background "#9CCFD8"
            emphasis_0 "#EB6F92"
            emphasis_1 "#E0DEF4"
            emphasis_2 "#524F67"
            emphasis_3 "#C4A7E7"
        }
        table_title {
            base "#31748F"
            background "#000000"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        table_cell_selected {
            base "#E0DEF4"
            background "#1F1D2E"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        table_cell_unselected {
            base "#E0DEF4"
            background "#191724"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        list_selected {
            base "#E0DEF4"
            background "#1F1D2E"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        list_unselected {
            base "#E0DEF4"
            background "#191724"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#31748F"
            emphasis_3 "#C4A7E7"
        }
        frame_selected {
            base "#31748F"
            background "#000000"
            emphasis_0 "#F6C177"
            emphasis_1 "#9CCFD8"
            emphasis_2 "#C4A7E7"
            emphasis_3 "#000000"
        }
        frame_highlight {
            base "#F6C177"
            background "#000000"
            emphasis_0 "#EB6F92"
            emphasis_1 "#F6C177"
            emphasis_2 "#F6C177"
            emphasis_3 "#F6C177"
        }
        exit_code_success {
            base "#31748F"
            background "#000000"
            emphasis_0 "#9CCFD8"
            emphasis_1 "#191724"
            emphasis_2 "#C4A7E7"
            emphasis_3 "#524F67"
        }
        exit_code_error {
            base "#EB6F92"
            background "#000000"
            emphasis_0 "#F6C177"
            emphasis_1 "#000000"
            emphasis_2 "#000000"
            emphasis_3 "#000000"
        }
        multiplayer_user_colors {
            player_1 "#C4A7E7"
            player_2 "#524F67"
            player_3 "#000000"
            player_4 "#F6C177"
            player_5 "#9CCFD8"
            player_6 "#000000"
            player_7 "#EB6F92"
            player_8 "#000000"
            player_9 "#000000"
            player_10 "#000000"
        }
    }
}
