

// You can configure outputs by their name, which you can find
// by running `niri msg outputs` while inside a niri instance.
// The built-in laptop monitor is usually called "eDP-1".
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!
output "DP-2" {
    mode "3440x1440@59.973"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "DP-3" {
    mode "3440x1440@59.973"
    scale 1
    transform "normal"
    position x=3440 y=0
}


